* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
:root {
  --primary-color: #ffff;
  --secondary-color: #2ecc71;
  --font-size: 16px;
}

@font-face {
  font-family: neu;
  src: url(./NeueMontreal-Regular.otf);
}


.hamburger-menu {
  position: fixed;
  top: 80px;
  right: 30px;
  z-index: 999;
}

.hamburger-icon {
  font-size: 24px;
  cursor: pointer;
  user-select: none;
  background-color: #333335; 
  border-radius: 50%;
  padding: 10px 15px;
  color: rgb(189, 183, 183);
  transition: transform 0.3s ease; 
}

.cross-icon {
  font-size: 30px;
  cursor: pointer;
  user-select: none;
  position: fixed; 
  top: 50px;
  right: 30px;
  z-index: 1001; 
  color: white;
  background-color: #333335; 
  border-radius: 50%; 
  padding: 10px 15px;
  transition: transform 0.3s ease; 
}

.menu {
  position: fixed;
  top: 0;
  right: -300px; 
  height: 100%;
  width: 400px;
  background-color: #1C1D20;
  padding-top: 60px;
  transition: right 0.3s ease-in-out;
  display: none;
  flex-direction: column;
  gap: 1vw;
}

.hamburger-icon:hover{
  background-color: rgb(61, 61, 218);
}
.cross-icon:hover{
  background-color:  rgb(61, 61, 218);
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 15px 0;
  width: 100%;
  text-align: center;
  transition: background-color 0.2s;
  font-size: 2.5vw;
  display: flex;
  gap: 1vw;
  margin-top: 2vw;
  padding-left: 5vw;
  transition: transform 0.3s ease; 
}
.menu>a:hover{
  transform: translateX(10px);
  transform: translateY(-8px);
}
.hidden {
  display: none;
}

.menu.active {
  display: flex; 
  right: 0; 
}

.menu.active ~ .cross-icon {
  display: block; 
}

.menu.active ~ .hamburger-icon {
  display: none; 
}



.main{
    position: relative;
    z-index: 10;
}

.page1 {
  width: 100%;
  height: 120vh;
  background-color: #999d9e;
  position: relative;
}

nav {
  padding: 3vw;
  display: flex;
  justify-content: space-between;
  position: relative;
  color: white;
}

.nav-first p {
  font-weight: 500;
  color:white;
  font-family: neu;
}

nav .nav-second {
  display: flex;
  gap: 2vw;
}

nav .nav-second a {
  font-size: 1.3vw;
  opacity: 0.9;
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
  transition: transform 0.2s ease;
  font-family: neu;
}

/* Hover effect for the a tags */
nav .nav-second a::after {
  content: ''; 
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  bottom: -12px; 
  left: 50%;
  transform: translateX(-50%) scale(0);
  transition: transform 0.3s ease; 
}

/* When hovering the a tag */
nav .nav-second a:hover {
  transform: translateY(-7px); 
}

nav .nav-second a:hover::after {
  transform: translateX(-50%) scale(1); 
}

.big-img {
  width: auto;
  height: 70vh;
}

.big-img img {
  position: absolute;
  bottom: 0; 
  left: 50%;
  transform: translateX(-50%);
  height: auto;
  max-width: 60%;
  object-fit: cover;
}
.main-left {
  position: absolute;
  top: 30%;
  left: 72%;
  color: var(--primary-color);
  font-weight: 100;
}

.main-left>i{
 font-size: 2.5vw;
 font-weight: 100;
 position: absolute;
 bottom: 8vw;
}

/*MOVING-SEC */
.mov-cont {
  height: 10vh;
  width: 100%;
  position: absolute;
  top: 42%;
}

.gola {
  width: 10vw;
  height: 10px;
  background-color: var(--primary-color);
  display: inline-block;
  margin: 2vw;
}

.moving-text {
  white-space: nowrap;
  overflow-x: auto;
}

.moving-text::-webkit-scrollbar {
  display: none;
}

.con {
  white-space: nowrap;
  display: inline-block;
  animation-name: move;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.con > h1 {
  font-size: 13vw;
  font-weight: 300;
  display: inline-block;
  color: var(--primary-color);
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.located {
  padding: 20px 20px 20px 40px;
  position: absolute;
  top: 32%;
  background-color: rgba(0, 0, 0, 0.856);
  width: 20%;
  height: fit-content;
  border-radius: 0px 45px 45px 0;
  color: var(--primary-color);
}

.loc-cnt {
  display: flex;
  align-items: center;
  gap: 1px;
  justify-content: space-between;
}

.loc-right {
  flex-basis: 20%;
}

.loc-right p {
  font-style: 20px;
  font-weight: 400;
  width: 50%;
}

.loc-left {
  flex-basis: 20%;
}

.loc-left > i {
  font-size: 42px;
  padding: 1vw;
  border-radius: 50%;
  background-color: gray;
}

/* PAGE-02 */
.page2 {
  width: 100%;
  height: 90vh;
  background-color: var(--primary-color);
}

.pg2-cnt {
  padding: 12vw;
  padding-bottom: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.pgr-right>h3 {
  font-size: 2vw;
  line-height: 3vw;
  color: rgba(0, 0, 0, 0.74);
  margin-right: 2vw;
}

.pg2-left p {
  width: 90%;
  font-size: 1.3rem;
  line-height: 2vw;
  padding-left: 7vw;
  font-family: neu;
}

.pg2-cnt-btm{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 12vw;
  padding-right: 12vw;
  /* padding-bottom: 1 5vw; */
}

.pg2-btm-lft>p{
  padding-top: 15vw;
  margin-bottom: 5vw;
  font-size: 14px;
  color: gray;
  opacity: 0.8;
}

.circle-div {
  width: 13.5vw;
  height: 13.5vw;
  margin-right: 5vw;
  margin-bottom: 4vw;
  border-radius: 50%;
  background-color: #1C1D20;
  color: white;
  transition: background-color 0.3s;
  transition: 0.8s ease; 
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* z-index: 999; */
}

.circle-content{
  opacity: 0.9;
  font-weight: 500;
}

.circle-div:hover {
  background-color: rgb(95, 95, 187);
}

.circle-content {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

/* PAGE-03 */

#second {
    color: black;
    padding-right: 10vw;
    padding-top: 7VW;
    background-color: white;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.overlay{
/* height: 100%;
width: 100%;
background-color: #2ecc71;
position: absolute;
z-index: 999;
opacity: 0; */
}

.cursor{
  height: 20px;
  width: 20px;
  background-color:transparent;
  color: white;
  border-radius: 50%;
  position: fixed;
  font-size: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 99;
  cursor: pointer;
}


.elem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3.5vw 12vw;
    border-top: 1px solid #888;
}
.elem{
  text-decoration: none;
}
.elem h2 {
    font-size: 4vw;
    color: #1C1D20;
}

.elemlast {
    border-bottom: 1px solid #888;
}

.elem img {
    opacity: 0;
    pointer-events: none;
    height: 25vw;
    width: 30%;
    z-index: 999;
    position: absolute;
    transform: translate(-50%, -50%);
}

   /* ELEM-HOVER-H2 & P */
    .elem h2,
   .elem p {
       color: #1C1D20; 
       transition: color 0.3s; 
   } 

   .elem.hover-effect {
       background-color: rgba(255, 255, 255, 0.8); 
   }
   
   .elem.hover-effect h2,
   .elem.hover-effect p {
       color: lightgray; 
   }

   .pg3-btnn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 5vw;
}

.pg3-btn {
    display: inline-block; 
    padding: 1.5vw 2.5vw; 
    background-color: transparent; 
    color: black;             
    border-radius: 50px;    
    font-size: 1.2vw;
    border: 1px solid gray;
    cursor: pointer;       
    text-align: center;   
    position: relative;
    overflow: hidden; 
    transition: color 0.4s ease; 
}

.pg3-btn::before {
    content: ''; 
    position: absolute;
    top: 100%; 
    left: 0;
    height: 100%; 
    width: 100%; 
    background-color: #1065c0; 
    transition: top 0.4s ease;
    z-index: -1; 
    border-radius: 50px; 
}

.pg3-btn:hover {
    color: #fff; /
}

.pg3-btn:hover::before {
    top: 0; 
}

.demopg{
    width: 100%;
    height: 30vh;
    background-color: #2ecc71;
}

/* ONLY-FOR-RESP */
.grid-container-hm{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1200px;
  width: 100%;
  display: none;

}

.card-hm{
  display: flex;
  flex-direction: column;
}

.card-image-hm {
  background-image: url('https://dennissnellenberg.com/media/pages/work/twice/0ab7e43954-1710404752/thumbnail-twice.jpg'); 
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 25vw;
}

.grid-container-hm .card-hm:nth-child(2) .card-image-hm {
  background-image: url('https://dennissnellenberg.com/media/pages/work/the-damai/b511d32d21-1710452224/thumbnail-thedamai-v2-810x810-crop-q72.jpg');
  background-size: cover; 
  background-position: center;
  width: 100%;
  height: 25vw;
}


.card-cnt>h2{
  font-size: 3vw;
  position: relative;
  z-index: 9;
  color: #010307d5;
}

.card-cnt>p{
  font-size: 2vw;
 color: #1C1D20;
}

 /* PAGE-04 */
 .page4 {
    height: 100vh;
    width: 100%;
    background-color: white;
    padding: 7vw 0vw;
    position: relative;
    overflow: hidden;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, auto); 
    gap: 30px; 
   
  }
  
  .grid-item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .grid-item img, .grid-item video {
    width:25vw;
    height: auto;
    object-fit: cover;
  }

  /* PAGE-05 */
  .pageblank{
    width: 100%;
    height: 100vh;
}

 /* FOOTER */
 #footer {
    position: fixed;
    height: 90vh;
    width: 100%;
    background-color: #1C1D20;
    color: #fff;
    z-index: 9;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 1vw 3vw;
}

#footer>i{
  /* font-size: 2vw; */
}

#footer h2 {
    position: absolute;
    top: 5vw;
    left: 15vw;
    font-size: 5vw;
    font-weight: 300;
}

#footer-line {
    border-top: 1px solid rgba(128, 128, 128, 0.699);
    height: 10vh;
    width: 70%;
    position: absolute;
    top: 23vw;
    margin-left: 11vw;
}
#footer>i{
position: absolute;
font-size: 2vw;
top: 25%;
right: 20%;
opacity: 0.7;
}

.ftr-btn{
    position: absolute;
    top: 27vw;
    left: 15vw;
    display: flex;
    gap: 10px;
}

.ftr-btn1, .ftr-btn2 {
    border: 1px solid rgba(226, 223, 223, 0.171);
    background-color: transparent;
    color: #fff;
    padding: 2vw 4vw; 
    border-radius: 50px; 
    cursor: pointer;
    position: relative; 
    overflow: hidden; 
    transition: color 0.3s ease;
    font-size: 1.5vw;
}

.ftr-btn1::before, .ftr-btn2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    background-color:#455CE9;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: height 0.5s ease;
}

.ftr-btn1:hover::before, .ftr-btn2:hover::before {
    height: 100%; 
}

.ftr-btn1:hover, .ftr-btn2:hover {
    color: #fff; 
}

.circle-div-ftr {
    margin-top: 0vw; 
    width: 12vw; 
    height: 12vw; 
    border-radius: 50%; 
    background-color:#455CE9; 
    color: white; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    transition: background-color 0.3s; 
    position: relative; 
    cursor: pointer; 
    position: absolute;
    top: 17vw;
    left: 65vw;
}

.circle-content {
    color: white; 
    text-decoration: none; 
    font-size: 1.2rem; 
}

.loader{
  height: 100%;
  width: 100%;
  background-color: rgb(12, 12, 12);
  position: fixed;
  z-index: 999;
  top: 0;
  transition: all ease 0.5s;
  /* color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.loader>h1{
  font-size: 4vw;
    color: transparent;
    background: linear-gradient(to right,orange,orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
    font-family: neu;
}

.loader h1:nth-child(2){
  animation-delay: 2s;
}
.loader h1:nth-child(3){
  animation-delay: 3s;
}


@keyframes load {
  0%{
      opacity: 0;
  }
  10%{
      opacity: 1;
  }
  90%{
      opacity: 1;
  }
  100%{
      opacity: 0;
  }
}

/* Styles for small devices (phones) */
@media (max-width: 575px) { 
  nav .nav-second{
    display: none;
}
   .loader h1{
      font-size: 9vw;
  }
  /* PAGE-01 */
  .page1{
    height: 70vh;
  }
  .big-img{
    height: 30vh;
    width: 100%;
  }
  .big-img img {
    height: 65vh;
    object-fit: cover;
    left: 40%;
    max-width: 100%;
  }
  .located{
    display: none;
  }
  .mov-cont{
    top: 35%;
  }
  .con > h1 {
    font-size: 20vw;
  }
  .main-left{
    left: 5%;
    top: 65%;
  }
  .main-left>h2{
    font-weight: 200;
  }
  .main-left>i{
    position: absolute;
    font-size: 6vw;
    top: -50%;
  }
  .nav-first {
    z-index: 10;
  }

 nav>.nav-second a{
  z-index: 10;
  font-size: 2vw;
}
/* PAGE-02 */
.page2{
  position: relative;
}
.pg2-cnt{
  flex-direction: column;
}
.pgr-right>h3{
  font-size: 4vw;
  line-height: 35px;
  font-weight: 500;
  font-family: neu;
}
.pg2-left p {
  width: 60%;
  font-size: 2.5vw;
  line-height: 4vw;
  padding-top: 4vw;
  padding-left: 0vw;
  opacity: 0.9;
}
.circle-div {
  position: absolute;
  width: 140px;
  height: 140px;
  top: 50%;
  left: 65%;
}

/* PAGE-03 */
#second{
  display: none;
}
.grid-container-hm{
  display: block;
  background-color: white;
}
.card-image-hm{
  height: 75vw;
}
.grid-container-hm .card-hm:nth-child(2) .card-image-hm{
  height: 75vw;
}
.card-cnt>h2{
font-size: 5vw;
padding: 8vw;
padding-bottom: 2vw;
}
.card-cnt>p{
  font-size: 3vw;
 color: #1C1D20;
 padding-left: 8vw;
 padding-bottom: 5vw;
}
 
/* PAGE-04 */
.page4{
  display: none;
}
/* FOOTER */
#footer h2 {
  font-size: 7vw;
}
#footer-line {
  top: 27vw;
}
.ftr-btn{
  top: 45vw;
  flex-direction: column;
}
.ftr-btn1, .ftr-btn2 {
  padding: 4vw 22vw;
  font-size: 2.5vw;
}
#footer>i{
top: 8%;
right: 10%;
font-size: 22px;
}
.circle-div-ftr{
  width: 25vw; 
  height: 25vw; 
  left: 55vw;
  top: 15vw;
}
.circle-div-ftr .circle-content{
  font-size: 3.3vw;
}
}

/* Styles for tablets */
@media (min-width: 576px) and (max-width: 991px) {
  nav .nav-second{
    display: none;
}
  .loader h1{
    font-size: 9vw;
}
/* PAGE-01 */
.page1{
  height: 60vh;
}
.big-img{
  max-width: 100%;
}
.big-img img {
  height: 65vh;
  object-fit: cover;
  left: 40%;
  max-width: 100%;
}
.located{
  padding: 15px 20px ;
  width: 25%;
}
  .mov-cont{
    top: 55%;
  }
  .con > h1 {
    font-size: 20vw;
  }
  .main-left{
    top: 30%;
    left: 72%;
  }
  .main-left>h2{
    font-weight: 100;
    font-size: 2.5vw;
  }
  .main-left>i{
    position: absolute;
    font-size: 4vw;
    top: -70%;
  }
  .nav-first {
    z-index: 10;
  }

 nav>.nav-second a{
  z-index: 10;
  font-size: 2vw;
}
/* PAGE-02 */
.page2{
  position: relative;
  height: 50vh;
}
.pg2-cnt{
  flex-direction: column;
}
.pgr-right>h3{
  font-size: 4vw;
  line-height: 35px;
  font-weight: 500;
}
.pg2-left p {
  width: 60%;
  font-size: 2.5vw;
  line-height: 4vw;
  padding-top: 4vw;
  padding-left: 0vw;
  opacity: 0.9;
}
.circle-div {
  position: absolute;
  width: 140px;
  height: 140px;
  top: 50%;
  left: 65%;
}

/* PAGE-03 */
#second{
  display: none;
}
.grid-container-hm{
  display: block;
  background-color: white;
  display: flex;
}
.card-image-hm{
  height: 45vw;
}
.grid-container-hm .card-hm:nth-child(2) .card-image-hm{
  height: 45vw;
}
.card-cnt>h2{
font-size: 5vw;
padding: 8vw;
padding-bottom: 2vw;
}
.card-cnt>p{
  font-size: 3vw;
 color: #1C1D20;
 padding-left: 8vw;
 padding-bottom: 5vw;
}
 
/* PAGE-04 */
.page4{
  /* display: none; */
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 30px; 
}
.grid-item img, .grid-item video{
  width: 35vw;
}
 
/* FOOTER */
#footer h2 {
  font-size: 7vw;
}
#footer-line {
  top: 27vw;
}
.ftr-btn{
  top: 45vw;
  flex-direction: column;
}
.ftr-btn1, .ftr-btn2 {
  padding: 4vw 22vw;
  font-size: 2.5vw;
}
#footer>i{
top: 8%;
right: 10%;
font-size: 22px;
}
.circle-div-ftr{
  width: 25vw; 
  height: 25vw; 
  left: 55vw;
  top: 15vw;
}
.circle-div-ftr .circle-content{
  font-size: 3.3vw;
}
}
