 /* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

/* body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.grid-container-hm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    width: 100%;
}

.card {
    border-radius: 10px;
    padding: 10px; 
    color: white;
    text-align: center; 
}

.card-image {
    background-image: url('https://dennissnellenberg.com/media/pages/work/twice/0ab7e43954-1710404752/thumbnail-twice.jpg'); 
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
}

.card:nth-child(2) .card-image {
    background-image: url('https://dennissnellenberg.com/media/pages/work/the-damai/b511d32d21-1710452224/thumbnail-thedamai-v2.jpg'); 
}

h2 {
    margin: 10px 0;
}

p {
    margin: 10px 0 15px;
} */



  /* .grid-container-hm{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    width: 100%;
  }

  .card-hm{
    display: flex;
    flex-direction: column;
  }

  .card-image-hm {
    background-image: url('https://dennissnellenberg.com/media/pages/work/twice/0ab7e43954-1710404752/thumbnail-twice.jpg'); 
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 25vw;
}

.card:nth-child(2) .card-image-hm {
    background-image: url('https://dennissnellenberg.com/media/pages/work/the-damai/b511d32d21-1710452224/thumbnail-thedamai-v2-810x810-crop-q72.jpg'); 
}



.card-cnt h2{
    font-size: 3vw;
    position: relative;
    z-index: 9;
    color: #010307d5;
}

.card-cnt  p{
    font-size: 2vw;
   color: #1C1D20;
} */

/* .menu-icon {
    width: 30px;
    cursor: pointer;
  }
  
  .menu-icon .bar {
    width: 100%;
    height: 4px;
    background-color: #333;
    margin: 6px 0;
  } */

/* .page {
    width: 100%;
    height: 100%;
}

.page1 {
    width: 100%;
    height: 100vh;
    background-color: crimson;
}

.page2 {
    width: 100%;
    height: 100vh;
    background-color: rgb(187, 20, 220);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

video {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
}

.page3 {
    width: 100%;
    height: 100vh;
    background-color: rgb(134, 90, 39);
} */



/* HAMBURGUR */
/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.hamburger-menu {
    position: fixed;
    top: 50px;
    right: 30px;
    z-index: 999;

}

.hamburger-icon {
    font-size: 30px;
    cursor: pointer;
    user-select: none;
}

.cross-icon {
    font-size: 30px;
    cursor: pointer;
    user-select: none;
    position: fixed; 
    top: 50px;
    right: 30px;
    z-index: 1001; 
    color: white;
}

.menu {
    position: fixed;
    top: 0;
    right: -300px; 
    height: 100%;
    width: 500px;
    background-color: #1C1D20;
    padding-top: 60px;
    transition: right 0.3s ease-in-out;
    display: none;
    flex-direction: column;
    gap: 1vw;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    transition: background-color 0.2s;
    font-size: 2rem;
    display: flex;
    gap: 1vw;
    margin-top: 2vw;
    padding-left: 5vw;
}

.menu a:hover {
    background-color: #555;
}

.hidden {
    display: none;
}

.menu.active {
    display: flex; 
    right: 0; 
}

.menu.active ~ .cross-icon {
    display: block; 
}

.menu.active ~ .hamburger-icon {
    display: none; 
}

 */



 /* GRID-CARD-WITH-ICON */
 /* Menu Icon */
/* .menu-icon {
    width: 30px;
    cursor: pointer;
    font-size: 2rem; 
    position: absolute; 
    top: 10vw;
    right: 3vw;
    padding: 1.5vw;
    border-radius: 50%;
    background-color: rgba(17, 17, 17, 0.911);
    color: white;
}

.grid-container-hm {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto; 
}

.card-hm {
    display: flex;
    flex-direction: column;
}

.card-image-hm {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 37vw;
}

.card-hm:nth-child(1) .card-image-hm {
    background-image: url('https://dennissnellenberg.com/media/pages/work/twice/0ab7e43954-1710404752/thumbnail-twice.jpg');
}

.card-hm:nth-child(2) .card-image-hm {
    background-image: url('https://dennissnellenberg.com/media/pages/work/the-damai/b511d32d21-1710452224/thumbnail-thedamai-v2-810x810-crop-q72.jpg'); 
}

.card-hm:nth-child(3) .card-image-hm {
    background-image: url('https://dennissnellenberg.com/media/pages/work/the-damai/b511d32d21-1710452224/thumbnail-thedamai-v2-810x810-crop-q72.jpg'); 
}

.card-hm:nth-child(4) .card-image-hm {
    background-image: url('https://dennissnellenberg.com/media/pages/work/twice/0ab7e43954-1710404752/thumbnail-twice.jpg'); 
}

.card-hm:nth-child(5) .card-image-hm {
    background-image: url('https://dennissnellenberg.com/media/pages/work/the-damai/b511d32d21-1710452224/thumbnail-thedamai-v2-810x810-crop-q72.jpg'); 
}

.card-hm:nth-child(6) .card-image-hm {
    background-image: url('https://dennissnellenberg.com/media/pages/work/twice/0ab7e43954-1710404752/thumbnail-twice.jpg'); 
}

.card-hm:nth-child(7) .card-image-hm {
    background-image: url('https://dennissnellenberg.com/media/pages/work/the-damai/b511d32d21-1710452224/thumbnail-thedamai-v2-810x810-crop-q72.jpg'); 
}

.card-hm:nth-child(8) .card-image-hm {
    background-image: url('https://dennissnellenberg.com/media/pages/work/twice/0ab7e43954-1710404752/thumbnail-twice.jpg'); 
}

.card-hm:nth-child(9) .card-image-hm {
    background-image: url('https://dennissnellenberg.com/media/pages/work/the-damai/b511d32d21-1710452224/thumbnail-thedamai-v2-810x810-crop-q72.jpg'); 
}

.card-hm:nth-child(10) .card-image-hm {
    background-image: url('https://dennissnellenberg.com/media/pages/work/twice/0ab7e43954-1710404752/thumbnail-twice.jpg'); 
}

.card-hm:nth-child(11) .card-image-hm {
    background-image: url('https://dennissnellenberg.com/media/pages/work/the-damai/b511d32d21-1710452224/thumbnail-thedamai-v2-810x810-crop-q72.jpg'); 
}

.card-cnt h2 {
    font-size: 3vw;
    color: #010307d5;
}

.card-cnt p {
    font-size: 2vw;
    color: #1C1D20;
}

@media (max-width: 768px) {
    .grid-container-hm {
        grid-template-columns: 1fr; 
        
        }

    .card-cnt h2 {
        font-size: 5vw;
    }

    .card-cnt p {
        font-size: 3.5vw;
    }
} */


/* From Uiverse.io by shah1345 */ 
.button2 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 1.7em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  }
  
  .button2:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  
  .button2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button2:hover {
    color: #ffffff;
    border: 1px solid #009087;
  }
  
  .button2:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button2:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
