<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aanstekelijk - Dennis Snellenberg</title>
    <link
      rel="icon"
      href="https://dennissnellenberg.com/favicon.ico"
      type="image/x-icon"
    />

    <link rel="stylesheet" href="Aanstekelijk.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css"
    />
  </head>
  <body>
    <div class="main">
      <div class="page1 pageabout">
        <nav>
          <div class="nav-first">
            <p>© Code byDennis</p>
          </div>
          <div class="nav-second">
            <a href="./work.html">Work</a>
            <a href="./About.html">About</a>
            <a href="./Contact.html">Contact</a>
          </div>
        </nav>
      </div>

      <div class="pg1-cnt">
        <div class="pg1-cnt1">
          <h1>Aanstekelijk</h1>
        </div>
      </div>

      <div class="page2">
        <div class="pg2-1">
          <p>ROLE/SERVICES</p>
          <div class="pg2-ln"></div>
          <h4>Design & Development</h4>
        </div>
        <div class="pg2-1">
          <p>CREDITS</p>
          <div class="pg2-ln"></div>
          <h4>Branding: Ché Heijnen</h4>
        </div>
        <div class="pg2-1">
          <p>LOCATION & YEAR</p>
          <div class="pg2-ln"></div>
          <h4>The Netherlands © 2023</h4>
        </div>
      </div>

      <div class="pg3-IMG">
        <img
          src="https://dennissnellenberg.com/media/pages/work/aanstekelijk/40c9f47689-1680160244/case-header-aanstekelijk.jpg"
          alt=""
        />
        <img
          class="overlay-img"
          src="https://dennissnellenberg.com/media/pages/work/aanstekelijk/bb8662dc3e-1680160289/case-header-aanstekelijk.svg"
          alt=""
        />
        <div class="pg3-round" data-scroll data-scroll-speed="2">
          <p>Live site <i class="ph ph-arrow-up-right"></i></p>
        </div>
      </div>

      <div class="page4">
        <div class="laptop-container">
          <img
            class="laptop-img"
            src="https://dennissnellenberg.com/assets/img/device-mbp-16-lower-nonotch.png"
            alt="Laptop"
          />
          <video class="laptop-video" autoplay muted loop>
            <source
              src="https://dennissnellenberg.com/media/pages/work/aanstekelijk/23e625e878-1680160784/aanstekelijk-home-scroll.mp4"
              type="video/mp4"
            />
          </video>
        </div>
        <video class="pg4-video" autoplay muted loop>
          <source
            src="https://dennissnellenberg.com/media/pages/work/aanstekelijk/ae0d5a86c3-1680161403/aanstekelijk-navigation.mp4"
            type="video/mp4"
          />
        </video>
      </div>

      <div class="page5">
      </div>

      <div class="page6">
        <div class="laptop-container">
          <img
            class="laptop-img"
            src="https://dennissnellenberg.com/assets/img/device-mbp-16-lower-nonotch.png"
            alt="Laptop"
          />
          <video class="laptop-video" autoplay muted loop>
            <source
              src="https://dennissnellenberg.com/media/pages/work/aanstekelijk/fc85e435e2-1680162198/aanstekelijk-work-slider.mp4"
              type="video/mp4"
            />
          </video>
        </div>
        <div class="pg4-video">
        <video class="pg4-video-content " autoplay muted loop>
          <source
            src="https://dennissnellenberg.com/media/pages/work/aanstekelijk/23e625e878-1680160784/aanstekelijk-home-scroll.mp4"
            type="video/mp4"
          />
        </video>
      </div>
      </div>
      
      <div class="pageblank"></div>
    </div>

    <div id="footer">
      <h2>Aanstekelijk</h2>
      <div id="footer-line"></div>
      <div class="ftr-btn">
        <button class="ftr-btn1">
          <p>All work</p>
        </button>
      </div>
      <div
        class="circle-div-ftr"
        data-scroll
        data-scroll-speed="2"
        data-scroll-direction="horizontal"
      >
        <a href="#about" class="circle-content">Get in touch</a>
      </div>
      <div class="btm2">
        <a href="#"><p>Awwwards</p></a>
        <a href="#"><p>Instagram</p></a>
        <a href="#"><p>Twitter</p></a>
        <a href="#"><p>LinkedIn</p></a>
    </div>
    </div>

       <!-- HAMBURGER -->
       <div id="hamburger-menu" class="hamburger-menu">
        <div id="hamburger-icon" class="hamburger-icon">&#9776;</div>
        <div id="cross-icon" class="cross-icon hidden">&#10005;</div> 
    
        <div id="menu" class="menu">
            <a href="../index.html">Home</a>
            <a href="./work.html">Work</a>
            <a href="./About.html"> About</a>
            <a href="./Contact.html">Contact</a>
        </div>
    </div>
    
    <div class="loader">
            <h1>Aanstekelijk</h1>
          </div> 

    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
      integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
      integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="Twice.js"></script>
  </body>
</html>
