<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
    rel="stylesheet"
  />
    <link rel="stylesheet" href="About.css">
    <link rel="stylesheet" href="work.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">

</head>
<body>
    <div class="main">
    <div class="page1 pageabout">
            <nav>
                <div class="nav-first">
                  <p>© Code byDennis</p>
                </div>
                <div class="nav-second">
                  <a href="./work.html">Work</a>
                  <a href="./About.html">About</a>
                  <a href="">Contact</a>
                </div>
              </nav>

              <div class="pg1-cnt  pg1-resp">
                <div class="pg1-cnt1">
                  <h1>Helping brands thrive
                    in the digital world</h1>
                </div>
            </div>
        </div>

        <div class="line-cir">
            <div class="lin"></div>
            <div class="circ">
                <i class="ph ph-globe"></i>
            </div>
        </div>

        <div class="sec-2">
           <div class="sec2-lft">
            <p> I help companies from all over the world with tailor-made solutions. With each project, I push my work to new horizons, always putting quality first.</p>
           </div>
           <div class="sec2-right" data-scroll data-scroll-speed="2" data-scroll-direction="vertical">
           </div>
        </div>

      <div class="sec3">
        <div class="sec3-top">
            <h2>I can help you with...</h2>
        </div>
     <div class="sec3-b">
        <div class="sec3-btm">
            <div class="sec3-btm1">
                <h4>01</h4>
                <div class="sec3-line"></div>
                <h3>Design</h3>
                <p>With a solid track record in designing websites, I deliver strong and user-friendly digital designs. (Since 2024 only in combination with development)</p>
            </div>
            <div class="sec3-btm1">
                <h4>02</h4>
                <div class="sec3-line"></div>
                <h3>Development</h3>
                <p>I build scalable websites from scratch that fit seamlessly with design. My focus is on micro animations, transitions and interaction. Building with Webflow (or Kirby CMS).</p>
            </div>
            <div class="sec3-btm1">
                <h4>03</h4>
                <div class="sec3-line"></div>
                <h3>The full package</h3>
                <p>A complete website from concept to implementation, that's what makes me stand out. My great sense for design and my development skills enable me to create kick-ass projects.</p>
            </div>
        </div>
     </div>
      </div>

      <div class="sec-4">
        <div class="sec4-lft" data-scroll data-scroll-speed="1"></div>
        <div class="sec4-right">
            <h1>Awwwards
                judge '19-24    </h1>
                <p>I am a proud member of the Awwwards International Jury, where I judge the best websites in the world using my expertise as a designer and developer. Micro animations and transitions have my full attention and get me thrilled with every move.</p>
        </div>
      </div>
  
      <div class="pageblank"></div>
    </div> 

    <div id="footer">
      <h2>Let’s work <br> together</h2>
      <div id="footer-line"></div>
      <div class="ftr-btn">
          <button class="ftr-btn1">
              <p>info@DennisSnellenberg</p>
          </button>
          <button class="ftr-btn2">
              <p>+31627847430</p>
          </button>
      </div>
      <div class="circle-div-ftr">
          <a href="#about" class="circle-content">Get in touch</a>
      </div>
        </div>

          <!-- HAMBURGER -->
          <div id="hamburger-menu" class="hamburger-menu">
            <div id="hamburger-icon" class="hamburger-icon">&#9776;</div>
            <div id="cross-icon" class="cross-icon hidden">&#10005;</div> 
        
            <div id="menu" class="menu">
                <a href="../land.html">Home</a>
                <a href="./work.html">Work</a>
                <a href="./About.html"> About</a>
                <a href="#">Contact</a>
            </div>
        </div>

   
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="About.js"></script>
    <script src="work.js"></script>
</body>
</html>