<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Andy Hardy - Dennis Snellenberg</title>
    <link
      rel="icon"
      href="https://dennissnellenberg.com/favicon.ico"
      type="image/x-icon"
    />

    <link rel="stylesheet" href="Andy.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css"
    />
  </head>
  <body>
    <div class="main">
      <div class="page1 pageabout">
        <nav>
          <div class="nav-first">
            <p>© Code byDennis</p>
          </div>
          <div class="nav-second">
            <a href="./work.html">Work</a>
            <a href="./About.html">About</a>
            <a href="./Contact.html">Contact</a>
          </div>
        </nav>
      </div>

      <div class="pg1-cnt">
        <div class="pg1-cnt1">
          <h1>Andy Hardy</h1>
        </div>
      </div>

      <div class="page2">
        <div class="pg2-1">
          <p>ROLE/SERVICES</p>
          <div class="pg2-ln"></div>
          <h4>Design & Development</h4>
        </div>
        <div class="pg2-1">
          <p>LOCATIONS</p>
          <div class="pg2-ln"></div>
          <h4>Australia</h4>
        </div>
        <div class="pg2-1">
          <p>YEAR</p>
          <div class="pg2-ln"></div>
          <h4>2020</h4>
        </div>
      </div>

      <div class="pg3-IMG">
        <img
          src="https://dennissnellenberg.com/media/pages/work/andy-hardy/45460186ce-1646837251/image-case-andy.png"
          alt=""
        />
        <img
          class="overlay-img"
          src="https://dennissnellenberg.com/media/pages/work/andy-hardy/2790d2bebd-1646837255/andy-name.svg"
          alt=""
        />
        <div class="pg3-round" data-scroll data-scroll-speed="2">
          <p>Live site <i class="ph ph-arrow-up-right"></i></p>
        </div>
      </div>

      <div class="page4">
        <div class="laptop-container">
          <img
            class="laptop-img"
            src="https://dennissnellenberg.com/assets/img/device-mbp-16-lower-nonotch.png"
            alt="Laptop"
          />
          <img class="pg4"
           src="https://dennissnellenberg.com/media/pages/work/andy-hardy/17b0c05d2b-1646837250/landscape_background_small-540x.jpg " alt="">
          <img class="OverlayAndy4" src="https://dennissnellenberg.com/media/pages/work/andy-hardy/74f5cb3afe-1646837250/landscape_andy-540x.png" alt="">
        </div>
      </div>

      <div class="page5">
        <h2>Multidisciplinary visual creator</h2>
      </div>

      <div class="page4F">
        <div class="pg4-img-container">
          <div class="imgphn" data-scroll data-scroll-speed="-0.5">
            <img
              class="phone-frame"
              src="https://dennissnellenberg.com/assets/img/device-iphone14.png"
              alt=""
            />
            <div class="img1">
              <img
                src="https://dennissnellenberg.com/media/pages/work/andy-hardy/692c4ad8ac-1646837253/andy-mobile-1-540x.jpg"
                alt="Screen"
              />
            </div>
          </div>

          <div class="imgphn" data-scroll data-scroll-speed="0.3">
            <img
              class="phone-frame"
              src="https://dennissnellenberg.com/assets/img/device-iphone14.png"
              alt=""
            />
            <div class="img1">
              <img
                src="https://dennissnellenberg.com/media/pages/work/andy-hardy/a804e16944-1646837251/andy-mobile-3-540x.jpg"
                alt="Screen"
              />
            </div>
          </div>

          <div class="imgphn" data-scroll data-scroll-speed="1">
            <img
              class="phone-frame"
              src="https://dennissnellenberg.com/assets/img/device-iphone14.png"
              alt=""
            />
            <div class="img1">
              <img
                src="https://dennissnellenberg.com/media/pages/work/andy-hardy/6c7ba9f412-1646837254/andy-mobile-4-540x.jpg"
                alt="Screen"
              />
            </div>
          </div>
        </div>
      </div>

       <div class="page6">
        <img src="https://dennissnellenberg.com/media/pages/work/andy-hardy/1081f723ef-1646837256/andy-screen-personal.jpg" alt="">
       </div>
       
       <div class="page7">
        <video autoplay muted loop src="https://dennissnellenberg.com/media/pages/work/andy-hardy/237a0f8246-1646837254/andy-screen-interaction.mp4"></video>
       </div>

      <div class="pageblank"></div>
    </div>

    <div id="footer">
      <h2>TWICE</h2>
      <div id="footer-line"></div>
      <div class="ftr-btn">
        <button class="ftr-btn1">
          <p>All work</p>
        </button>
      </div>
      <div
        class="circle-div-ftr"
        data-scroll
        data-scroll-speed="2"
        data-scroll-direction="horizontal"
      >
        <a href="#about" class="circle-content">Get in touch</a>
      </div>
      <div class="btm2">
        <a href="#"><p>Awwwards</p></a>
        <a href="#"><p>Instagram</p></a>
        <a href="#"><p>Twitter</p></a>
        <a href="#"><p>LinkedIn</p></a>
    </div>
    </div>

  <!-- HAMBURGER -->
  <div id="hamburger-menu" class="hamburger-menu">
    <div id="hamburger-icon" class="hamburger-icon">&#9776;</div>
    <div id="cross-icon" class="cross-icon hidden">&#10005;</div> 

    <div id="menu" class="menu">
        <a href="../index.html">Home</a>
        <a href="./work.html">Work</a>
        <a href="./About.html"> About</a>
        <a href="./Contact.html">Contact</a>
    </div>
</div>


    <div class="loader">
      <h1>Andy Hardy</h1>
    </div> 

    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
      integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
      integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="Twice.js"></script>
  </body>
</html>
