<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="Contact.css" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">

  </head>
  <body>
    <div class="main">
      <div class="page1">
        <nav>
          <div class="nav-first">
            <p>© Code byDennis</p>
          </div>
          <div class="nav-second">
            <a href="./work.html">Work</a>
            <a href="./About.html">About</a>
            <a href="">Contact</a>
          </div>
        </nav>
    </div>

        <div class="page2">
          <div class="sec1">
            <h1>Let's start a project together</h1>

            <form id="nameForm">
                <h2>What's your name?</h2>
                <input type="text" id="name" name="name" placeholder="John Doe * " required>
            </form>

            
            <form id="nameForm">
                <h2>What's your email?</h2>
                <input type="text" id="name" name="name" placeholder="john@doe.com *
                " required>
            </form>

              
            <form id="nameForm">
                <h2>What's the name of your organization?</h2>
                <input type="text" id="name" name="name" placeholder="John & Doe ®
                " required>
            </form>

            <form id="nameForm">
                <h2>What services are you looking for?</h2>
                <input type="text" id="name" name="name" placeholder="Web Design, Web Development ...
                " required>
            </form>

            <form id="nameForm">
                <h2>Your message</h2>
                <input type="text" id="name" name="name" placeholder="Hello Dennis, can you help me with ... *
                " required>
            </form>

            <div class="sec1-ln">
                  <div class="sec1-rn" data-scroll data-scroll-speed="-2">
                    <p>Send it!</p>
                  </div>
            </div>
          </div>

          <div class="sec2">
            <div class="sec2-img">
             <img src="https://dennissnellenberg.com/favicon.ico" alt="">
            </div>
            <h3></h3>
            <div class="sec2-cont">
                <p>Contact Details</p>
                <h4>info@dennissnellenberg</h4>
                <h3>+316 27 84 74 30</h3>
                <p>Business Details</p>
                <h4>Dennis Snellenberg B.V.</h4>
                <h3>Location: The Netherlands</h3>
                <p>SOCIALS</p>
                <h5>Awwwards</h5>
                <h5>Instagram</h5>
                <h5>Twitter</h5>
                <h5>LinkedIn</h5>
            </div>  
          </div>
        </div>

       <!-- <div class="btm1">
        <div class="btm11">
            <p>Version</p>
            <p>2022 © Edition</p>
        </div>
        <div class="btm11">
            <p>local time</p>
            <p>11:33 AM GMT+2 </p>
        </div>
       </div> -->

        <div class="btm2">
            <a href="#">Awwwards</a>
            <a href="#">Instagram</a>
            <a href="#">Twitter</a>
            <a href="#">LinkedIn</a>
        </div>
    
    </div>

       <!-- HAMBURGER -->
       <div id="hamburger-menu" class="hamburger-menu">
        <div id="hamburger-icon" class="hamburger-icon">&#9776;</div>
        <div id="cross-icon" class="cross-icon hidden">&#10005;</div> 
    
        <div id="menu" class="menu">
            <a href="../index.html">Home</a>
            <a href="./work.html">Work</a>
            <a href="./About.html"> About</a>
            <a href="./Contact.html">Contact</a>
        </div>
    </div>

    <div class="loader">
        <h1>Contact</h1>
      </div> 

    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
     <script src="Contact.js"></script>       
  </body>
</html>
