<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Future Goals - Dennis Snellenberg</title>
    <link
      rel="icon"
      href="https://dennissnellenberg.com/favicon.ico"
      type="image/x-icon"
    />

    <link rel="stylesheet" href="Future.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css"
    />
  </head>
  <body>
    <div class="main">
      <div class="page1 pageabout">
        <nav>
          <div class="nav-first">
            <p>© Code byDennis</p>
          </div>
          <div class="nav-second">
            <a href="./work.html">Work</a>
            <a href="./About.html">About</a>
            <a href="./Contact.html">Contact</a>
          </div>
        </nav>
      </div>

      <div class="pg1-cnt">
        <div class="pg1-cnt1">
          <h1>Future Goals</h1>
        </div>
      </div>

      <div class="page2">
        <div class="pg2-1">
          <p>ROLE/SERVICES</p>
          <div class="pg2-ln"></div>
          <h4>Interaction & Development</h4>
        </div>
        <div class="pg2-1">
          <p>CREDITS</p>
          <div class="pg2-ln"></div>
         <h4> Concept: One:Nil</h4>
        </div>
        <div class="pg2-1">
          <p>YEAR</p>
          <div class="pg2-ln"></div>
          <h4>Curaçao © 2022</h4>
        </div>
      </div>

      <div class="pg3-IMG">
        <img
          src="https://dennissnellenberg.com/media/pages/work/future-goals/8c916e77f1-1653053706/futuregoals-case-header.jpg"
          alt=""
        />
        <img
        class="overlay-img"
        src="https://dennissnellenberg.com/media/pages/work/future-goals/98001978ba-1653053710/futuregoals-case-header-front.svg"
        alt=""
      />
        <div class="pg3-round" data-scroll data-scroll-speed="2">
          <p>Live site <i class="ph ph-arrow-up-right"></i></p>
        </div>
      </div>

      <div class="page4">
        <div class="laptop-container">
          <img
            class="laptop-img"
            src="https://dennissnellenberg.com/assets/img/device-ipad-pro-lower.png"
            alt="Laptop"
          />
          <video class="laptop-video" autoplay muted loop>
            <source
              src="https://dennissnellenberg.com/media/pages/work/future-goals/73fecccd91-1653055451/screen-rec-mob.mp4"
              type="video/mp4"
            />
          </video>
        </div>
      </div>

      <div class="page5"></div>

      <div class="page4F">
        <div class="pg4-img-container">
          <div class="imgphn">
            <img class="phone-frame" src="https://dennissnellenberg.com/assets/img/device-iphone14.png" alt="">
            <div class="img1">
              <img src="https://dennissnellenberg.com/media/pages/work/avvr/d90cfe7ba5-1672819746/mobile-screen-avvr-1-540x.jpg" alt="Screen">
            </div>
          </div>
      
          <div class="imgphn">
            <img class="phone-frame" src="https://dennissnellenberg.com/assets/img/device-iphone14.png" alt="">
            <div class="img1">
              <img src="https://dennissnellenberg.com/media/pages/work/avvr/ffaf296ffc-1672820127/mobile-screen-avvr-2-540x.jpg" alt="Screen">
            </div>
          </div>
      
          <div class="imgphn">
            <img class="phone-frame" src="https://dennissnellenberg.com/assets/img/device-iphone14.png" alt="">
            <div class="img1">
              <img src="https://dennissnellenberg.com/media/pages/work/future-goals/69afe68ccf-1653055393/futuregoals-screen-3-540x.jpg" alt="Screen">
            </div>
          </div>
        </div>
      </div>
      

      <div class="pageF" data-scroll data-scroll-speed="-1">
        <video class="pg5-video" autoplay muted loop>
            <source src="https://dennissnellenberg.com/media/pages/work/future-goals/c6b7159243-1653056956/high_headerfuturegoals-1.mp4" type="video/mp4">
        </video>
      </div>

      <div class="page6">
        <img src="https://dennissnellenberg.com/media/pages/work/future-goals/685adbde8d-1653055959/photo-gallery-big-540x.jpg" alt="">
      </div>

      <div class="pageblank"></div>
    </div>

    <div id="footer">
      <h2>Atypikal</h2>
      <div id="footer-line"></div>
      <div class="ftr-btn">
        <button class="ftr-btn1">
          <p>All work</p>
        </button>
      </div>
      <div
        class="circle-div-ftr"
        data-scroll
        data-scroll-speed="2"
        data-scroll-direction="horizontal"
      >
        <a href="#about" class="circle-content">Get in touch</a>
      </div>
    </div>

      <!-- HAMBURGER -->
      <div id="hamburger-menu" class="hamburger-menu">
        <div id="hamburger-icon" class="hamburger-icon">&#9776;</div>
        <div id="cross-icon" class="cross-icon hidden">&#10005;</div> 
        <div id="menu" class="menu">
            <a href="../land.html">Home</a>
            <a href="./work.html">Work</a>
            <a href="./About.html"> About</a>
            <a href="./Contact.html">Contact</a>
        </div>
    </div> 

    <div class="loader">
      <h1>Future Goals</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
      integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
      integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="Twice.js"></script>
  </body>
</html>
