<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TWICE - Dennis Snellenberg</title>
    <link rel="icon" href="https://dennissnellenberg.com/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="Twice.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">

  </head>
  <body>
    <div class="main">

      <div class="page1 pageabout">
        <nav>
          <div class="nav-first">
            <p>© Code byDennis</p>
          </div>
          <div class="nav-second">
            <a href="./work.html">Work</a>
            <a href="./About.html">About</a>
            <a href="./Contact.html">Contact</a>
          </div>
        </nav>
      </div>

      <div class="pg1-cnt">
        <div class="pg1-cnt1">
          <h1>TWICE™</h1>
        </div>
      </div>

      <div class="page2">
        <div class="pg2-1">
          <p>ROLE/SERVICES</p>
          <div class="pg2-ln"></div>
          <h4>Interaction & Development</h4>
        </div>
        <div class="pg2-1">
          <p>CREDITS</p>
          <div class="pg2-ln"></div>
          <h4>Design: Dylan Brouwer</h4>
        </div>
        <div class="pg2-1">
          <p>LOCATION & YEAR</p>
          <div class="pg2-ln"></div>
          <h4>Spain © 2024</h4>
        </div>
      </div>

      <div class="pg3-IMG">
        <img
          src="https://dennissnellenberg.com/media/pages/work/twice/56dc0c6ce1-1710405711/dsc7458.jpg"
          alt=""
        />
        <img
          class="overlay-img"
          src="https://dennissnellenberg.com/media/pages/work/twice/b8d83f1720-1710411070/case-header-twice.svg"
          alt=""
        />
        <div class="pg3-round" data-scroll data-scroll-speed="2" ><p>Live site <i class="ph ph-arrow-up-right"></i> </p></div>
      </div>

      <div class="page4">
        <div class="laptop-container">
          <img
            class="laptop-img"
            src="https://dennissnellenberg.com/assets/img/device-mbp-16-lower-nonotch.png"
            alt="Laptop"
          />
          <video class="laptop-video" autoplay muted loop>
            <source
              src="https://dennissnellenberg.com/media/pages/work/twice/9410598988-1710411431/starvie.mp4"
              type="video/mp4"
            />
          </video>
        </div>
        <video class="pg4-video" autoplay muted loop>
          <source
            src="https://dennissnellenberg.com/media/pages/work/twice/9c011cac90-1710411859/screen-rec-nav-hover.mp4"
            type="video/mp4"
          />
        </video>
      </div>

      <div class="page5" data-scroll data-scroll-speed="-1">
        <video class="pg5-video" autoplay muted loop>
            <source src="https://dennissnellenberg.com/media/pages/work/twice/9410598988-1710411431/starvie.mp4" type="video/mp4">
        </video>
      </div>

      <div class="page6">
        <div class="laptop-container">
            <img
              class="laptop-img"
              src="https://dennissnellenberg.com/assets/img/device-mbp-16-lower-nonotch.png"
              alt="Laptop"
            />
            <video class="laptop-video" autoplay muted loop>
              <source
                src="https://dennissnellenberg.com/media/pages/work/twice/49c2363f7d-1710412499/screen-rec-work.mp4"
                type="video/mp4"
              />
            </video>
          </div>

          <div class="pg6-img-cont">
            <img data-scroll data-scroll-speed="1.2" src="https://dennissnellenberg.com/media/pages/work/twice/076ed24f45-1710412700/screen-mobile-1.jpg" alt="">
            <img src="https://dennissnellenberg.com/media/pages/work/twice/6d3469f364-1710412710/screen-mobile-2.jpg" alt="">
            <img data-scroll data-scroll-speed="-1.2" src="https://dennissnellenberg.com/media/pages/work/twice/4482f6c357-1710412713/screen-mobile-3.jpg" alt="">
          </div>
      </div>

      <div class="pageblank"></div>
    </div>

    <div id="footer">
        <h2>Let’s work <br> together</h2>
        <div id="footer-line"></div>
        <div class="ftr-btn">
            <button class="ftr-btn1">
                <p>info@DennisSnellenberg</p>
            </button>
            <button class="ftr-btn2">
                <p>+31627847430</p>
            </button>
        </div>
        <div class="circle-div-ftr" data-scroll data-scroll-speed="2" data-scroll-direction="horizontal">
            <a href="#about" class="circle-content">Get in touch</a>
        </div>
          </div>

          <div class="loader">
            <h1>Twice</h1>
          </div> 

           <!-- HAMBURGER -->
           <div id="hamburger-menu" class="hamburger-menu">
            <div id="hamburger-icon" class="hamburger-icon">&#9776;</div>
            <div id="cross-icon" class="cross-icon hidden">&#10005;</div> 
        
            <div id="menu" class="menu">
                <a href="../land.html">Home</a>
                <a href="./work.html">Work</a>
                <a href="./About.html"> About</a>
                <a href="./Contact.html">Contact</a>
            </div>
        </div>

          
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="Twice.js"></script>
  </body>
</html>
