<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Work</title>
    <link
      rel="icon"
      href="https://dennissnellenberg.com/favicon.ico"
      type="image/x-icon"
    />

    <link rel="stylesheet" href="work.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css"
    />
  </head>
  <body>
    <div class="main">

      <div class="page1">
        <nav>
          <div class="nav-first">
            <p>© Code byDennis</p>
          </div>
          <div class="nav-second">
            <a href="../Components/work.html">Work</a>
            <a href="../Components/About.html">About</a>
            <a href="">Contact</a>
          </div>
        </nav>

        <div class="pg1-cnt">
          <div class="pg1-cnt1">
            <h1>Creating next level digital products</h1>
          </div>

          <div class="pg1-btn1">
            <button>ALL</button>
            <button>Design</button>
            <button>Development</button>
          </div>
        </div>
      </div>

      <!-- page-02 -->
      <div id="second">
        <a href="./Twice.html" class="elem">
          <img
            src="https://dennissnellenberg.com/media/pages/work/twice/0ab7e43954-1710404752/thumbnail-twice-810x810-crop-q72.jpg"
            alt=""
          />
          <h1>TWICE</h1>
          <p>spain</p>
          <p>Interaction & Development</p>
          <h5>2024</h5>
        </a>

        <a href="./Damai.html" class="elem">
          <img
            src="https://dennissnellenberg.com/media/pages/work/the-damai/b511d32d21-1710452224/thumbnail-thedamai-v2-810x810-crop-q72.jpg"
            alt=""
          />
          <h1>The Damai</h1>
          <p>Bali,Indonesia</p>
          <p>Design & Development</p>
          <h5>2022</h5>
        </a>

        <a href="./Fabric.html" class="elem">
          <img
            src="https://dennissnellenberg.com/media/pages/work/fabric/ac07564a5f-1688453092/thumbnail-fabric-darkgray-810x810-crop-q72.jpg"
            alt=""
          />
          <h1>Fabric</h1>
          <p>United Kingdom</p>
          <p>Design & Development</p>
          <h5>2022</h5>
        </a>

        <a href="Aanatekelijk.html" class="elem">
          <img
            src="https://dennissnellenberg.com/media/pages/work/aanstekelijk/441187fb44-1687423090/thumbnail-aanstekelijk-810x810-crop-q72.jpg"
            alt=""
          />
          <h1>Aanstekelijk</h1>
          <p>The Netherlands</p>
          <p>Design & Development</p>
          <h5>2022</h5>
        </a>

        <a href="Base.html" class="elem">
          <img
            src="https://dennissnellenberg.com/media/pages/work/base-create/1f2468ab51-1680179645/thumbnail-base-desktop-810x810-crop-q72.jpg"
            alt=""
          />
          <h1>Base Create</h1>
          <p>Hong Kong</p>
          <p>Design & Development</p>
          <h5>2022</h5>
        </a>

        <a href="./Avvr.html" class="elem">
          <img
            src="https://dennissnellenberg.com/media/pages/work/avvr/4d2a7758a4-1672918357/thumbnail-avvr-v2-810x810-crop-q72.jpg"
            alt=""
          />
          <h1>AVVR</h1>
          <p>The Netherlands</p>
          <p>Design & Development</p>
          <h5>2022</h5>
        </a>

        <a href="Graphic.html" class="elem">
          <img
            src="https://dennissnellenberg.com/media/pages/work/graphichunters/0daec771af-1660128857/thumbnail-gh-810x810-crop-q72.jpg"
            alt=""
          />
          <h1>GraphicHunters</h1>
          <p>The Netherlands</p>
          <p>Design & Development</p>
          <h5>2022</h5>
        </a>

        <a href="Future.html" class="elem">
          <img
            src="https://dennissnellenberg.com/media/pages/work/future-goals/614e28a662-1653057688/thumbnail-futuregoals-810x810-crop-q72.jpg"
            alt=""
          />
          <h1>Future Goals</h1>
          <p>curacao</p>
          <p>Interaction & Development</p>
          <h5>2022</h5>
        </a>

        <a href="Atypikal.html" class="elem">
          <img
            src="https://dennissnellenberg.com/media/pages/work/atypikal/fd1951ffc9-1646837277/thumbnail-atypikal-810x810-crop-q72.jpg"
            alt=""
          />
          <h1>Atypikal</h1>
          <p>United States</p>
          <p>Interaction & Development</p>
          <h5>2022</h5>
        </a>

        <a href="OneNil.html" class="elem">
          <img
            src="https://dennissnellenberg.com/media/pages/work/one-nil/288460827e-1646837272/thumbnail-onenil-v3-810x810-crop-q72.jpg"
            alt=""
          />
          <h1>One:Nil</h1>
          <p>The Netherlands</p>
          <p>Design & Development</p>
          <h5>2022</h5>
        </a>


        <a href="./Andy.html" class="elem elemlast">
          <img
            src="https://dennissnellenberg.com/media/pages/work/andy-hardy/f152b03247-1646837253/thumbnail-andyhardy-810x810-crop-q72.jpg"
            alt=""
          />
          <h1>Andy Hardy</h1>
          <p>Australia</p>
          <p>Design & Development</p>
          <h5>2022</h5>
        </a>

        <div class="pg3-btnn">
          <button class="pg3-btn">More work</button>
        </div>
      </div>

      <!-- ONLY-FOR-RESP -->
      <div class="grid-container-hm">
        <div class="card-hm">
          <div class="card-image-hm"></div>
          <div class="card-cnt">
            <h2>TWICE</h2>
            <p>Interaction & development</p>
          </div>
        </div>

        <div class="card-hm">
          <div class="card-image-hm"></div>
          <div class="card-cnt">
            <h2>The Damai</h2>
            <p>Design & development</p>
          </div>
        </div>
      </div>

      

      <div class="pageblank"></div>
    </div>

    <div id="footer">
      <h2>
        Let’s work <br />
        together
      </h2>
      <div id="footer-line"></div>
      <div class="ftr-btn">
        <button class="ftr-btn1">
          <p>info@DennisSnellenberg</p>
        </button>
        <button class="ftr-btn2">
          <p>+31627847430</p>
        </button>
      </div>
      <div
        class="circle-div-ftr"
        data-scroll
        data-scroll-speed="2"
        data-scroll-direction="horizontal"
      >
        <a href="#about" class="circle-content">Get in touch</a>
      </div>
    </div>

          <!-- HAMBURGER -->
          <div id="hamburger-menu" class="hamburger-menu">
            <div id="hamburger-icon" class="hamburger-icon">&#9776;</div>
            <div id="cross-icon" class="cross-icon hidden">&#10005;</div> 
        
            <div id="menu" class="menu">
                <a href="../land.html">Home</a>
                <a href="./work.html">Work</a>
                <a href="./About.html"> About</a>
                <a href="#">Contact</a>
            </div>
        </div>

        

    <div class="loader">
      <h1>Work</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"
      integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
      integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="work.js"></script>
  </body>
</html>
