* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

.page1{
    width: 100%;
    min-height: 100%; 
}

nav {
    padding: 3vw;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.nav-first p {
    color: var(--primary-color);
    font-weight: 500;
}

nav .nav-second {
    display: flex;
    gap: 2vw;
}

nav .nav-second a {
    color: var(--primary-color);
    text-decoration: none;
    position: relative; 
    display: inline-block;
    transition: transform 0.2s ease; /* Smooth transition */
}

nav a:hover {
    transform: translateY(-7px) translateX(0px); 
}

.pg1-cnt{
    width: 100%;
    height: 100%;
    padding: 8vw 15vw ;
    }


.pg1-cnt1>h1{
    width: 70%;
    font-weight: 400;
    font-size: 5vw;
}


.pg1-btn1 button::before {
    content: ''; 
    position: absolute;
    top: 100%; 
    left: 0;
    height: 100%; 
    width: 100%; 
    background-color: #1065c0; 
    transition: top 0.4s ease; 
    z-index: -1;
    border-radius: 50px; 
}

.pg1-btn1 button:hover {
    color: #fff; /
}

.pg1-btn1 button:hover::before {
    top: 0; 
} 

.pg1-btn1 {
margin-top: 2vw;
}

.pg1-btn1 button{
    padding: 1.5vw 2.5vw; 
    background-color: transparent; 
    color: black;             
    border-radius: 50px;    
    font-size: 1.2vw;
    border: 1px solid rgb(194, 193, 193);
    cursor: pointer;       
    text-align: center;   
    position: relative;
    overflow: hidden; 
    transition: color 0.4s ease; 
}


/* HUMBURGUR */

.content {
    padding: 20px;
}

#hamburger-menu {
    position: fixed;
    top: 8vw;
    right: 20px;
    width: 70px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
    z-index: 1000;
    transition: transform 0.5s ease-in-out;
}

#hamburger-menu:hover{
    background-color: var(--secondary-color);
}

.hamburger-icon, .cross-icon {
    font-size: 2rem;
    cursor: pointer;
    z-index: 1001;
}

.hidden {
    display: none;
}

.menu {
    position: fixed;
    top: 90px; 
    right: 0;
    background-color: rgba(0, 0, 0, 0.85);
    border-radius: 10px;
    display: none; 
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    width: 35vw; 
    height: 40vw;
    z-index: 999; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 3vw;
    display: flex; 
    align-items: center; 
    margin: 5px 0; 
    padding: 10px;
    border-radius: 5px; 
    position: relative; 
    transition: 0.3s ease-in; 
}

.circle {
    width: 10px; 
    height: 10px; 
    background-color: white;
    border-radius: 50%; 
    margin-right: 10px; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.menu a:hover .circle {
    opacity: 1;
}

.menu a:hover {
    transform: translateY(-5px) translateX(5px);
}



/* PAGE-02 */
    /* PAGE-03 */
    #page3 {
        min-height: 100vh;
        width: 100%;
        padding: 4vw 0;
        z-index: 10;
        position: relative;
        background-color: var(--primary-color);
    }

    .elem {
        height: 150px;
        width: 100%;
        position: relative;
        border-top: 1.5px solid #b9b5b564;
        overflow: hidden;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 0 8vw;
        transition: background-color 0.3s;
        cursor: pointer;
    }
    
     /* ELEM-HOVER-H2 & P */
     .elem h2,
     .elem p {
         color: #1C1D20; /* Default text color */
         transition: color 0.3s; /* Smooth text color transition */
     }
     
     .elem.hover-effect {
         background-color: rgba(255, 255, 255, 0.8); /* Optional background change on hover */
     }
     
     .elem.hover-effect h2,
     .elem.hover-effect p {
         color: lightgray; /* Change to your desired color on hover */
     }

    .elem h2 {
        font-size: 2vw;
        font-weight: 200;
        position: relative;
        z-index: 9;
        color: #2a2a2b;
    }
    
    .elem .overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: -100%;
        transition: all ease 0.25s;
    }
    

    
    #fixed-image {
        height: 30vw;
        width: 24vw;
        /* background-color: red; */
        border-radius: 15px;
        position: fixed;
        z-index: 99;
        left: 50%;
        top: 25%;
        display: none;
        background-size: cover;
        background-position: center;
    }

    .pg3-btnn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        margin-top: 5vw;
    }
    
    .pg3-btn {
        display: inline-block; 
        padding: 1.5vw 2.5vw; 
        background-color: transparent; 
        color: black;             
        border-radius: 50px;    
        font-size: 1.2vw;
        border: 1px solid gray;
        cursor: pointer;       
        text-align: center;   
        position: relative;
        overflow: hidden; 
        transition: color 0.4s ease; 
    }
    
    .pg3-btn::before {
        content: ''; 
        position: absolute;
        top: 100%; 
        left: 0;
        height: 100%; 
        width: 100%; 
        background-color: #1065c0; 
        transition: top 0.4s ease; 
        z-index: -1; 
        border-radius: 50px; 
    }
    
    .pg3-btn:hover {
        color: #fff; /
    }
    
    .pg3-btn:hover::before {
        top: 0; 
    }

    /* PAGE-03-SEE ONLY-RESP */
    .grid-container-hm{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;  
        width: 100%;
        background-color: var(--primary-color);
        z-index: 10;
        position: relative;
      }

      .grid-container-hm{
        display: none;
      }
    
      .card-hm{
        display: flex;
        flex-direction: column;
      }
    
      .card-image-hm {
        background-image: url('https://dennissnellenberg.com/media/pages/work/twice/0ab7e43954-1710404752/thumbnail-twice.jpg'); 
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 35vw;
    }
    
    .card-hm:nth-child(2) .card-image-hm {
        background-image: url('https://dennissnellenberg.com/media/pages/work/the-damai/b511d32d21-1710452224/thumbnail-thedamai-v2.jpg'); 
    }
        
    .card-cnt h2{
        font-size: 3vw;
        position: relative;
        z-index: 9;
        color: #010307d5;
        padding: 2vw;
        margin-left: 6vw;
    }
    
    .card-cnt  p{
        font-size: 2vw;
       color: #1C1D20;
       margin-left: 8vw;
    }
    